In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df=pd.read_csv('../input/titanic/train.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df['Cabin'].nunique()

147

Filling Null values

In [23]:
df.groupby('Pclass')['Age'].mean()

dtype('float64')

In [26]:
df.groupby('Pclass')['Age'].mean().reset_index(name='Age')

   Pclass        Age
0       1  38.233441
1       2  29.877630
2       3  25.140620

In [ ]:
def func(cols):
    Age= cols[0]
    Pclass=cols[1]
    if pd.isnull(Age):
        if Pclass==1:
            return 38.23
        elif Pclass==2:
            return 29.8
        else:
            return 25.14
    else :
        return Age

In [ ]:
#df['Age']=df[['Age','Pclass']].apply(func,axis=1)

In [ ]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [ ]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [ ]:
df.drop(columns='Cabin',inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
sns.countplot(df['Sex'])

There are more male passengers than female

In [ ]:
sns.countplot(data=df,x='Survived',hue='Sex')

Males are less likely to survive

In [ ]:
sns.histplot(x='Age',data=df,bins=50)

There are more middle aged people of age 20-40

In [ ]:
sns.lmplot(x='Age',y='Fare',data=df,hue='Pclass',col='Survived')

In [ ]:
sns.scatterplot(x='Age',y='Fare',data=df)

In [ ]:
sns.barplot(x='Pclass',y='Survived',data=df)

Passengers of class 1 are more likely to survive

In [ ]:
sns.boxplot(x='Pclass',y='Age',data=df)

Older people preferred class 1

In [ ]:
sns.boxplot(x='Pclass',y='Fare',data=df)

Class 1 has higher fare (obviously)

**Encoding categorical columns**

In [ ]:
Emb=pd.get_dummies(df[['Embarked','Sex']],drop_first=True)

In [ ]:
df.drop(columns=['Embarked','Sex'],inplace=True,axis=1)

In [ ]:
df=pd.concat([df,Emb],axis=1)

In [ ]:
df.head()

Training with model

In [ ]:
X=df.drop(['Name','Ticket','Survived'],axis=1)
y=df['Survived']
X.set_index('PassengerId',inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[['Age','Fare']] = sc.fit_transform(X_train[['Age','Fare']])

In [ ]:
X_test[['Age','Fare']] = sc.transform(X_test[['Age','Fare']])

In [ ]:
X_train

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)

In [ ]:
y_pred=lr.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,plot_roc_curve
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

In [ ]:
y_train

In [ ]:
roc_auc_score(y,lr.predict_proba(X)[:,1])

In [ ]:
plot_roc_curve(lr,X,y)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
Dt=DecisionTreeClassifier(random_state=1)
Dt.fit(X_train,y_train)
y_pred1=Dt.predict(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
y_pred2=rf.predict(X_test)

In [ ]:
from sklearn.svm import LinearSVC
sv=LinearSVC(random_state=42,max_iter=2000)
sv.fit(X_train,y_train)
y_pred3=rf.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
#print(classification_report(y_test,y_pred2))
#print(confusion_matrix(y_test,y_pred2))
print('Accuracy of the Logistic regression model:',lr.score(X_test,y_test))
print('Accuracy of the Randomforest model:',rf.score(X_test,y_test))
print('Accuracy of the Decision tree model:',Dt.score(X_test,y_test))
print('Accuracy of the svm model:',sv.score(X_test,y_test))

**Dealing with test data**

In [ ]:
X_test=pd.read_csv('../input/titanic/test.csv')

In [ ]:
test=X_test.copy()

In [ ]:
X_test.isnull().sum()

In [ ]:
X_test.groupby('Pclass')['Age'].mean()

In [ ]:
def func(cols):
    Age= cols[0]
    Pclass=cols[1]
    if pd.isnull(Age):
        if Pclass==1:
            return 40.918367
        elif Pclass==2:
            return 28.777500
        else:
            return  24.027945
    else :
        return Age

In [ ]:
X_test['Age']=X_test[['Age','Pclass']].apply(func,axis=1)

In [ ]:
X_test.drop('Cabin',inplace=True,axis=1)

In [ ]:
X_test[X_test['Fare'].isnull()]

In [ ]:
X_test['Fare']=X_test['Fare'].fillna(X_test[X_test['Pclass']==3]['Fare'].mean())

In [ ]:
X_test.isnull().sum()

In [ ]:
X_test.head()

In [ ]:
X_test['Embarked'].value_counts()

In [ ]:
E=pd.get_dummies(X_test[['Embarked','Sex']],drop_first=True)

In [ ]:
X_test.drop(columns=['Embarked','Sex'],inplace=True,axis=1)

In [ ]:
X_test=pd.concat([X_test,E],axis=1)

In [ ]:
x_t= X_test.drop(['Name','Ticket'],axis=1)

In [ ]:
x_t.set_index('PassengerId',inplace=True)

In [ ]:
x_t

In [ ]:
#from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
x_t[['Age','Fare']] = sc.transform(x_t[['Age','Fare']])

Predicting survival status on test data

In [ ]:
y_p_test=lr.predict(x_t)

In [ ]:
df1=pd.DataFrame({"PassengerId":X_test['PassengerId'],"Survived":y_p_test})

In [ ]:
df1

In [ ]:
df1.to_csv('Gender_submission1.csv',index=False)

In [ ]:
pd.read_csv('Gender_submission1.csv')